{% extends 'base.html' %}
{% load i18n %}


{% block title %}
Profile
{% endblock title %}

{% block content %}


<div class="profile-box">
    <div class="imgBx">
        {% if picture == 'default' %}
        <img src="static/images/tothex_160.png">
        {% else %}
        <img src="{{picture.url}}">
        {% endif %}
    </div>

<div class="name">
    <div class="userBx">
        {{user.first_name}}
    </div>
    <div class="userBx">
        {{user.last_name}}
    </div>

</div>
    

    <div class="username">
       @{{user}}
    </div>

<div class="otherInfo">
    <div class="userInfo">
        <div class="heading">{% trans "Bio" %}</div>
        <div class="content"> {{profile.bio}}</div>

    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Gender" %}</div>
        <div class="content"> {{profile.gender}} </div>
    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Date of Birth" %}</div>
        <div class="content"> {{profile.date_of_birth|date}} </div>
    </div>
    <div class="userInfo">
        <div class="heading">{% trans "State Of Residence" %}</div>
        <div class="content"> {{profile.state_of_residence}} </div>

    </div>

    <div class="userInfo">
        <div class="heading">{% trans "State Of Origin" %}</div>
        <div class="content"> {{profile.state_of_origin}} </div>


    </div>

    <div class="userInfo">
        <div class="heading">{% trans "Nationality" %}</div>
        <div class="content"> {{profile.nationality}} </div>
    </div>
    
    <div class="userInfo">
        <div class="heading">{% trans "Country" %}</div>
        <div class="content"> {{user.created_subcategory}} </div>
    </div>


    add block trans to the language1 & language2 
    <div class="userInfo">
        <div class="heading">{% trans "First Language" %}</div>
        <div class="content"> {{profile.language1}} </div>
    </div>

    <div class="userInfo">
        <div class="heading">{% trans "Second Language" %}</div>
        <div class="content"> {{profile.language2}} </div>
    </div>

    {% if profile.user == user %}   
    <div class="userInfo">
        <div class="heading">{% trans "Profile Views" %}</div>
        <div class="content"> {{profile.views}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Email" %}</div>
        <div class="content"> {{user.email}}</div> 
    </div>
    <div class="copy-link-container">
        <div class="label">
            {% trans "Copy Your Referral link" %}
        </div>
        <div class="copy-text">
            <input id="copy-link" type="text" class="text" readonly>
            <button onclick="copyFunction()">{% trans "Copy" %}</button>
        </div>
    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Drafts" %}</div>
        <div class="content"> <a href="{% url 'draft:leak-draft-list' %}">{% trans "View drafts" %}</a> </div>
        <div class="heading">{% trans "Archive" %}</div>
        <div class="content"> <a href="{% url 'archive:home' %}">{% trans "View Archive" %}</a> </div>
    </div>

    <br>
    <br>

   
    {% endif %}
</div>
</div>




{% endblock content %}



